.img-circle, .img-rounded, .img-thumbnail {
    margin: 5px;
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: " ";
}

blockquote {
    font-size: 14px;
}

div.SearchCountingWords textarea {
    height: 40%;
    width: 100%;
}