{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function () {
                socket.emit('joined', {});
            });
            socket.on('status', function (data) {
                $('#chat').html($('#chat').html() + data.msg + '<br />');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
                $("time.timeago").timeago();
            });
            socket.on('message', function (data) {
                $('#chat').html($('#chat').html() + data.msg);
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
                $("time.timeago").timeago();
            });
            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text});
                    $("time.timeago").timeago();
                }
            });
            $('#say_button').on('click', function (e) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
                $("time.timeago").timeago();
            });
        });
        $(document).ready(function () {
            fix_size();
            $(window).resize(function () {
                fix_size();
            });
        });

        function fix_size() {
            var chat_field_w = $('#chat_field').width();
            $('#chat').width(chat_field_w * 0.99);
        }
    </script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'flash_message.html' %}
    <div class="well" id="chat_field" style="height: 75%">
        <div id="chat" style="min-height: 200px; max-height: 800px; overflow-y: scroll; height: 70%;"></div>
        <br><br>
        <input id="text" size="80" placeholder="Enter your message here" autofocus="true" class="form-control"><br><br>
        <a href="#" class="btn btn-primary left" id="say_button">Say!</a>
        <a href="{{ url_for('.room_select') }}" onclick="socket.emit('left', {});" class="btn btn-danger pull-right">Leave
            this
            room</a>
    </div>
{% endblock %}
